<div class="row" style="padding: 8px;">
        <div class="col-md-8">
            <h1>List of Subscribers</h1>
        </div>
          
  </div> 
        <table>
            <tr>
                <th>Email</th>
            </tr>
             {{#each newsletter}}
            <tr>
                  <td> {{email}}</td>
                  
            </tr>      
            {{/each}}
      </table>
    

