<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='/stylesheets/test.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

</head>
 <div class="test">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <h5><a class="navbar-brand" href="#" style="color: floralwhite;">My Dashboard</a></h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="padding: 12px 30px;">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                   <h5><a class="nav-link" href="/projects"style="color: floralwhite;">Projects <span class="sr-only">(current)</span></a></h5>
                </li>
                <li class="nav-item">
                    <h5> <a class="nav-link" href="/blog"style="color: floralwhite;">Blog</a></h5> 
                </li>
                <li class="nav-item">
                   <h5><a class="nav-link" href="/contacts"style="color: floralwhite;" tabindex="-1" aria-disabled="true">Contacts</a></h5> 
                </li>
                <li class="nav-item">
                   <h5> <a class="nav-link" href="/subscribers"style="color: floralwhite;" tabindex="-1" aria-disabled="true">subscribers</a></h5> 
                </li>
                <li class="nav-item">
                    <h5> <a class="nav-link" href="/logout"style="color: floralwhite;">Logout</a></h5> 
                </li>
            </ul>
        </div>
    </nav>
</div>     

<body>
   
<div class="container">
{{{body}}}
</div> 
  </body>
   <!-- Footer -->
<footer class="page-footer font-small fixed-bottom  bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <div class="social" style="text-align: center">
            <a href="https://www.linkedin.com"><i class="fab fa-linkedin" aria-hidden="true"></i>  </a>
            <a href="https://github.com/Thirumoorthi123"><i class="fab fa-github" aria-hidden="true"></i>  </a>
            <a href="https://stackoverflow.com"><i class="fab fa-stack-overflow" aria-hidden="true"></i>  </a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i>  </a>
            <a href="https://twitter.com/Thirumoorthi_Veeran"><i class="fab fa-twitter" aria-hidden="true"></i>  </a>
        </div>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright:
    <a href="mailto:thirumoorthi1vp@gmail.com"> thirumoorthi1vp@gmail.com</a>
  </div>
  <!-- Copyright -->

</footer>
 </html>
